# Ignorar arquivos de segredos da Api
api/.env
api/serviceAccountKey.json

# Ignorar pasta de dependências
/node_modules/
/api/node_modules/

# Ignorar arquivos gerados pela Vercel
.vercel

# Ignorar credenciais de serviço do Google
functions/google-credentials.json