rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Regra para a pasta de Atas
    match /atas/{allPaths=**} {
      // Permite que qualquer pessoa com o link leia a ata (necessário para o link funcionar)
      allow read;
      // Permite a escrita (upload) apenas para usuários autenticados da diretoria
      allow write: if request.auth != null && 
                     request.auth.token.role in ['super-admin', 'diretor', 'tesoureiro'];
    }
  }
}